@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body {
    background-color: rgb(187, 187, 187);
    margin: 0;
    padding: 0;
}

.conteudoTotal {
    background-color: blueviolet;
    height: 2720px;
}

.barraLogo {
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    display: flex;
}

div.logoimg {
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logoimg img {
    width: 30px;
    height: 30px;
}

div.textoLogo {
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: red;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

div.Lupaimg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
}

div.Lupaimg img {
    width: 30px;
    height: 30x;
}

div.fotoComForm {
    background-color: rgba(255, 0, 0, 0.582);
    width: 100%;
    height: 638px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.conteudoForm {
    display: flex;
    width: 890px;
    height: 260px;
    background-color: blueviolet;
}

div.menus1 {
    display: flex;
    flex: 1;
    height: 40px;
    background-color: rgb(194, 221, 221);
}

div.menus2 {
    display: flex;
    flex: 1;
    height: 40px;
    background-color: rgb(46, 231, 231);
}

div.menus3 {
    display: flex;
    flex: 1;
    height: 40px;
    background-color: rgb(36, 173, 173);
}

div.conteudofotos {
    width: 100%;
    height: 2030px;
    background-color: blue;
}

div.conteudomeio {
    width: 1070px;
    height: 100%;
    background-color: chartreuse;
    margin: auto;
}