@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.conteudoTotal {
    height: 2720px;
}

.barraLogo {
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    display: flex;
}

div.logoimg {
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logoimg img {
    width: 30px;
    height: 30px;
}

div.textoLogo {
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: red;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

div.Lupaimg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
}

div.Lupaimg img {
    width: 30px;
    height: 30x;
}

div.fotoComForm {
    width: 100%;
    height: 638px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imagens/london.jpg");
    background-repeat: no-repeat
}

div.conteudoForm {
    width: 890px;
    position: relative;
    height: 260px;
    background-color: #fff;
}

div.menus {
    width: 100%;
    display: flex;
}

div.menus1:first-child {
    background-color: red;
}

div.menus div>i {
    position: relative;
    right: 10px;
    font-size: 20px;
}

div.menus1,
div.menus2,
div.menus3 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #ffffff;
    background-color: #000;
}

div.formulario {
    padding: 0 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #616161;
}

h1.formulariotext {
    font-size: 1.5em;
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
}

div.partes {
    font-weight: bold;
    display: inline-block;
}

div.primeiraParte {
    float: left;
    height: 100%;
    width: 50%;
}

div.segundaParte {
    float: left;
    height: 100%;
    width: 50%;
}

form input {
    border-style: solid;
    border: 1px solid #b8b8b8;
    width: 420px;
    height: 40px;
    outline: 0;
}

form input::placeholder {
    position: relative;
    left: 25px;
}

button {
    background-color: #616161;
    border: 0;
    color: #fff;
    width: 180px;
    height: 40px;
    margin: 10px 0;
}

div.conteudomeio {
    width: 1070px;
    height: 100%;
    margin: auto;
}

div.conteudofotos {
    width: 100%;
    height: 2030px;
    background-color: #f1f1f1;
}

.cidadesPrincipais {
    position: relative;
    margin: 10px 0;
}

.cidadesPrincipais p {
    font-weight: 900;
    font-size: 1.2em;
    color: #585555;
}

strong.porcentagem {
    color: #000;
    font-weight: 900;
}

div.cidades {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-areas: "cinque new san" "cinque pisa paris";
    grid-template-rows: 210px;
    grid-template-columns: 555px 265px 270px;
}

.cinque p,
.newYork p,
.pisa p,
.sanFrancisco p,
.paris p {
    font-size: 1.1rem;
    position: relative;
    color: #fff;
    left: 20px;
    font-weight: 600;
}

.cinque p {
    bottom: -350px;
}

.newYork p,
.pisa p,
.sanFrancisco p,
.paris p {
    left: 20px;
    bottom: -145px;
}

.cinque {
    grid-area: cinque;
    width: 540px;
    background-image: url("../imagens/cinqueterre.jpg");
    background-size: 540px;
}

.newYork {
    background-image: url("../imagens/newyork.jpg");
    background-size: 255px;
    width: 250px;
    height: 190px;
    grid-area: new;
}

.pisa {
    width: 250px;
    height: 190px;
    grid-area: pisa;
    background-image: url("../imagens/pisa.jpg");
    background-size: 255px;
}

.sanFrancisco {
    width: 250px;
    height: 190px;
    grid-area: san;
    background-image: url("../imagens/sanfran.jpg");
    background-size: 255px;
}

.paris {
    width: 250px;
    height: 190px;
    grid-area: paris;
    background-image: url("../imagens/paris.jpg");
    background-size: 255px;
}

.natureza {
    position: relative;
    top: 0px;
    width: 100%;
    height: 568px;
}

.titulo {
    width: 100%;
    height: 115px;
}

.titulo h1,
.titulo h2 {
    position: relative;
}

.titulo h1 {
    font-size: 1.9em;
    top: 10px;
}

.titulo h2 {
    font-size: 1.2em;
    top: 10px;
}

.lugares {
    display: flex;
    justify-content: space-between;
    height: 455px;
    width: 100%;
}

.conteudoLugares {
    background-color: #ffffff;
    width: 525px;
    height: 100%;
}

.sobre {
    position: relative;
    top: -4px;
    height: 190px;
}

.sobre h1,
.sobre h3,
.sobre h4 {
    margin: 0px;
    padding: 12px 20px;
}

.sobre h1 {
    font-size: 1.5em;
}

.sobre h3 {
    font-size: 0.95em;
    margin-left: 20px;
}

.sobre h4.valor {
    font-size: 1em;
    color: #868686;
}

.imgLugar {
    width: 100%;
    height: 265px;
}

.formEmail {
    position: relative;
    background-color: #606060;
    width: 100%;
    height: 255px;
    top: 35px;
}

.conteudoFormEmail {
    position: relative;
    padding: 10px 15px;
    color: #ffffff;
    line-height: 25px;
}

.conteudoFormEmail h1 {
    font-size: 2.1em;
}

.conteudoFormEmail h3 {
    font-size: 1.1em;
}

.conteudoFormEmail form {
    display: grid;
    width: auto;
}

.conteudoFormEmail form label {
    font-size: 1em;
}

.conteudoFormEmail form input {
    width: 1035px;
    height: 40px;
}

.conteudoFormEmail input::placeholder {
    color: #b8b8b8;
    left: 20px;
}

.conteudoFormEmail form button {
    width: 100px;
    height: 40px;
    font-weight: 700;
    background-color: #f48981;
}

.contato {
    position: relative;
    top: 65px;
    height: 430px;
    width: auto;
}

.contatoopcoes {
    position: relative;
    top: -20px;
    display: grid;
    color: #000;
    font-weight: bolder;
}

.contatoopcoes h1 {
    position: relative;
    margin-bottom: 10px;
}

.opc {
    position: relative;
    top: 0px;
    line-height: 20px;
    font-size: 1em;
    margin-bottom: 5px;
}

.opc i {
    margin-right: 15px;
}

.contato form {
    display: grid;
    position: relative;
    top: -10px;
}

.contato form input {
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #b8b8b8;
    width: auto;
    height: 55px;
}

.contato form input::placeholder {
    left: 15px;
}

.contato form button {
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000;
    width: 162px;
    height: 47px;
    top: -10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 67px;
    position: relative;
    height: 200px;
    line-height: 30px;
    font-weight: bold;
    color: #868686;
}

.redes i {
    font-size: 20px;
    color: rgb(121, 121, 121);
}

footer span {
    text-decoration: underline;
}